USE [LBD]
GO
/****** Object:  Table [dbo].[Table1]    Script Date: 23/02/2019 01:17:47 a. m. ******/
DROP TABLE [dbo].[Table1]
GO
USE [master]
GO
/****** Object:  Database [LBD]    Script Date: 23/02/2019 01:17:47 a. m. ******/
DROP DATABASE [LBD]
GO
/****** Object:  Database [LBD]    Script Date: 23/02/2019 01:17:47 a. m. ******/
CREATE DATABASE [LBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.RODOLFO\MSSQL\DATA\LBD.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.RODOLFO\MSSQL\DATA\LBD_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LBD]
GO
/****** Object:  Table [dbo].[Table1]    Script Date: 23/02/2019 01:17:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table1](
	[nombre] [varchar](1) NULL,
	[edad] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
